@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.section-padding {
    padding: 2rem 6rem;
}
.section-margin {
    margin: 2rem 4rem;
}

a {
    text-decoration: none;
    color: white;
}


@media screen and (max-width:550px) {
    .section-padding {
        padding: 2rem;
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
